# config\packages\security.yaml

security:
    encoders:
        App\Entity\User: bcrypt

    providers:
        database_users:
            entity: { class: App\Entity\User, property: username }

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            pattern: ^/
            anonymous: true
            logout:
                path: app_logout
                target: homepage
            guard:
                authenticators:
                    - App\Security\FormLoginAuthenticator
