// customize some Bootstrap variables
$primary: darken(#428bca, 20%);

// customize some other variables
$header-height: 56px;
$bg-image-url: "/build/images/homepage.jpg";

/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {List}            - text-shadow list
@function stroke($stroke, $color) {
  $shadow: ();
  $from: $stroke * -1;
  @for $i from $from through $stroke {
    @for $j from $from through $stroke {
      $shadow: append($shadow, $i * 1px $j * 1px 0 $color, comma);
    }
  }
  @return $shadow;
}
/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {Style}           - text-shadow
@mixin stroke($stroke, $color) {
  text-shadow: stroke($stroke, $color);
}

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

body {
  background-color: lightgray;
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.full-height-container {
  flex: 1 100%;
  .row {
    justify-content: center;
    margin-top: 50px;
  }
}

.trick-info-edit-container {
  flex: 1 100%;
  .row {
    justify-content: center;
  }
  .well > fieldset.form-group > legend {
    display: none;
  }
}

.auto-center {
    margin-left: auto;
    margin-right: auto;
}

.page-bg {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 56px;
}

.page-bg {
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  background-position-y: 56px;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#override-bs-css-navbar,
#override-bs-css-header {
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-nav-small {
    flex-direction: row;
    justify-content: space-around;
    i {
        font-size: 2rem;
    }
}

.navbar.d-sm-flex{
    li {
        height: 2rem;
        a {
            padding: 0.2rem 1rem;
        }
    }
}

.navbar.d-sm-flex li:not(:first-of-type):not(:last-of-type) {
    border-right: 1px solid #bbb;
}

.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
}

.fixed-menu-spacer {
    height: 66px;
    background-color: white;
}

.mr-zero {
  margin-left: auto;
  margin-right: 0;
}

.logo {
    width: auto;
    height: 40px;
}

.greetings {
  padding-right: 45px;
}

#home {
  background: url(#{$bg-image-url}) no-repeat;
  background-size: auto calc(100vh - #{$header-height});
  background-position: 25% bottom;
  opacity: 1;
  z-index: 11;
  position: relative;
  img {
    opacity: 0;
    margin-top: 0;
    width: 100%;
    height: calc(100vh - #{$header-height});
  }
}

.p-404 {
    margin-top: 3rem;
}

.error-page-image {
    width: 100%;
    margin-top: 2rem;
}

.row:before {
  display: table;
  content: " ";
}

:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.well .flash {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
}

#home .flash {
  @extend .col-md-6;
  @extend .col-sm-12;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  padding: 0.5rem 1rem;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #155724;
}

#home-text,
.trick-title {
  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: black;
    text-shadow: stroke(2, white);
  }
}

.forgotten-pwd-div {
  margin-top: -30px;
  text-align: right;
}

.go-back-to-homepage {
  margin-top: 30px;
  text-align: center;
}

.arrow-div  i {
    font-size:30px;
    cursor: pointer;
}

#arrow-down {
  position: relative;
  float: right;
  margin-top: -70px;
  z-index: 100;
}

#arrow-up {
    position: relative;
    width: 30px;
    margin-right: 15px;
    margin-top: -15px;
    margin-left: auto;
    i {
        float: right;
    }
}
  
#tricks-list {
  margin-top: 30px;
  align-content: center;
}

/* Home page */
.trick-thumbnail {
  width: 100%;
  border: 1px solid black;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.trick-thumbnail p {
  border-top: 1px solid black;
  margin-bottom: 0px;
}

.trick-thumbnail img {
  /*    border: 1px solid black;*/
  width: 100%;
}

/* Trick details page */

.admin-icons {
  position: absolute;
  top: 15px;
  right: 0;
  background-color: rgba(255, 255, 255, 0.6);
  height: 2.5rem;
  /*width: 90px;*/
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  padding-top: 8px;
  padding-left: 15px;
  border-radius: 5px;
  > * {
    margin-right: 15px;
  }
}
.admin-icons i {
  font-size: 1.5rem;
}
.fa-pen {
  color: black;
}
.fa-trash-alt {
  color: red;
}

.media-admin-icons {
    height: 2rem;
    width: 80px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding-top: 6px;
    border-radius: 5px;
    background-color: #ddd;
    margin: 10px 0;
    float: right;
}
.media-admin-icons i {
  font-size: 1.2rem;
}

.tricks-list-admin-icons {
    position: relative;
    float: right;
    height: 1.7rem;
    width: 60px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding-top: 6px;
    border-radius: 5px;
    background-color: rgba(221, 221, 221, 0.7);
    margin-top: -77px;
    margin-right: 5px;
}

.tricks-list-admin-icons > * {
  display: flex;
  opacity: 0.7;
}

.tricks-list-admin-icons > *:hover {
  opacity: 1;
  text-decoration: none;
}

.ajax-radio-div {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 3px solid rgb(51, 125, 255);
    display: none;
}

.ajax-radio-div input[type="radio"] {
    margin: 0;
}

.faded-bg-img img {
  opacity: 0.4;
  height: calc(100vh - #{$header-height});
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 11;
  position: relative;
}

.trick-photo-thumbnail {
  width: 100%;
  border: 1px solid black;
  padding: 0px;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

.trick-photo-thumbnail-div,
.trick-video-thumbnail-div {
  padding-left: 5px;
  padding-right: 5px;
}

.trick-photo-thumbnail p {
  border-top: 1px solid black;
  margin-bottom: 0px;
}

.trick-photo-thumbnail img {
  width: 100%;
}

/*form[name=trick] {*/
/*form.trick_edit_form {
  legend {
    display: none;
  }
}*/

form.trick_edit_form {
    /*margin-top: 3rem;*/
    .trick-photo-thumbnail, .trick-video-thumbnail {
        margin-bottom: 3.5rem;
    }
}

form.trick_form {
    > fieldset.form-group > legend {
        display: block;
    }
/*    > fieldset.form-group > fieldset.form-group > legend {
        display: none;
    }*/
    fieldset.form-group {
        border: 3px dashed indianred;
        padding: 10px;
        margin-top: 0.5rem;
    }
}

fieldset.form-group fieldset.form-group div div.form-group:last-of-type {
    margin-bottom: 0;
}

fieldset.form-group .btn-danger {
    margin-top: 10px;
}

div.well > fieldset.form-group {
  border: none;
  padding: 0;
}

form.trick_new_form > fieldset.form-group {
  border: none;
  padding: 0;
}

.xs-hidden {
    display: none;
}

#trick-detail-list {
    display: flex;
    justify-content: center;
}

.choose-cover-title {
    margin-left: -10px;
    margin-top: 15px;
    color: rgb(51, 125, 255);
    font-size: 1.5rem;
    display: none;
}

.back-btn {
  background-color: buttonface;
}
.center-button {
  margin-left: auto;
  margin-right: auto;
}

footer {
  margin-top: 30px;
  padding-top: 20px;
}

#home img.bg-img {
  opacity: 0.5;
}
.main {
  /*  position: absolute;
  top: 56px;
  z-index: 10000;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);*/
  padding-bottom: 30px;
  background-color: white;
  margin-top: 4vw;
}

.header-img-div {
  position: relative;
  padding: 0;
}
.trick-header {
  position: relative;
}

.trick-header img {
  width: 100%;
  height: 100%;
}

.see-medias-btn-div {
  margin-top: 15px;
}

.trick-video-thumbnail {
  width: 100%;
  border: 1px solid black;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  padding-top: 55.5%;
  position: relative;
}

.trick-video-thumbnail iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.trick-description {
  margin-top: 30px;
  margin-bottom: 30px;
}

.trick-infos-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.trick-info-box {
  padding: 10px;
  flex: auto;
  justify-content: center;
  align-content: center;
}
.trick-info-text {
  display: inline-block;
  margin: auto;
}

.trick-update-warning-title {
  background-color: red;
  color: white;
  margin: 0;
  padding: 5px 10px;
  margin-left: -15px;
  margin-right: -15px;
  i {
    color: white;
  }
}
/*.trick_edit_form_container {
  margin-top: 1.5rem;
}*/

.trick_edit_form_container textarea {
  width: 100%;
  height: 15rem;
}

.trick_edit_form_container #trick_medias fieldset.form-group {
    display: none;
}

.fieldset-thumbnail {
    width: 100%;
    height: auto;
    border: 1px solid black!important;
    margin-bottom: 10px;
}

/*.trick_edit_form_container .well {
    margin-top: 1.5rem;
}
*/
.inner {
  display: flex;
  text-align: center;
  border-radius: 10px;
  padding: 10px 0;
  border: 1px solid;
  height: 100%;
}

hr {
  width: 55%;
  border-color: #444;
}
.leave-comment-form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
}

#message_content {
  width: 80%;
  height: 4rem;
  margin: 0 auto;
}
#form-div .btn {
    width: 50%;
    margin: 15px auto 0 auto;
}

.comment-div {
  width: 100%;
  display: inline-block;
  /*border: 1px dotted red;*/
}

.comment-avatar {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  text-align: center;
  margin-left: 5%;
  margin-top: 15px;
  width: 40px;
  border-radius: 50%;
}

.comment-text {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  text-align: left;
  margin: 10px auto 10px 20px;
  width: 75%;
  border: 1px solid black;
  padding: 5px;
}

.message-header {
    font-size: 0.7rem;
}

.modal-dialog {
  max-width: 80vw;
  max-height: 90vh;
  max-width: unset;
  display: inline-block;
  left: 50%;
  transform: translate(-50%, 0%);
}

.modal.show .modal-dialog {
  left: 50%;
  transform: translate(-50%, 0%);
}

.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  left: 50%;
  transform: translate(-50%, 0%);
}

.img-responsive {
  max-width: calc(80vw - 2 * 1rem);
  max-height: calc(90vh - 2 * 1rem);
}

/* Trick creation form page */

.add_media_buttons_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.add_media_buttons_div > .btn {
  flex: 0 45%;
}

div#trick_medias > fieldset.form-group > .col-form-label {
  font-weight: bold;
  width: auto;
  padding: 0 10px;
}
div#trick_medias
  > fieldset.form-group
  > div
  > fieldset.form-group
  > .col-form-label {
  font-style: italic;
}

.trick_new_form > fieldset > .col-form-label {
  font-size: 1.5rem;
  font-weight: 100;
}

.btn.outline {
  background: none;
  padding: 6px 16px;
}

.btn-primary.outline {
  border: 2px solid #245682;
  color: #245682;
}

.btn-primary.outline {
  border: 2px solid #245682;
  color: #245682;
}

.btn-primary.outline:hover,
.btn-primary.outline:focus,
.btn-primary.outline:active,
.btn-primary.outline.active,
.open > .dropdown-toggle.btn-primary {
  color: #1c4364;
  border-color: #1c4364;
  background-color: rgba(28, 67, 100, 0.15);
}
.btn-primary.outline:active,
.btn-primary.outline.active {
  border-color: #1c4364;
  color: #1c4364;
  box-shadow: none;
}

.btn-primary.outline:hover,
.btn-primary.outline:focus,
.btn-primary.outline:active,
.btn-primary.outline.active,
.open > .dropdown-toggle.btn-primary {
  color: #1c4364;
  border-color: #1c4364;
}
.btn-primary.outline:active,
.btn-primary.outline.active {
  border-color: #1c4364;
  color: #1c4364;
  box-shadow: none;
}

.xs-fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}
.trick-thumbnails-div,
.trick-photo-thumbnail-div,
.trick-video-thumbnail-div {
  width: 100%;
  flex-basis: unset;
}
#message_content {
    font-size: 0.9rem;
}

#result-message-div {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    > span {
        display: none;
        font-size: 0.9rem;
        margin-top: 10px;
    }
}

.success {
    color :green;
}
.error {
    color :red;
}

.edit-icon, .delete-icon {
    cursor: pointer;
}

.inactive {
    cursor: default;
    opacity: 0.4;
}

.cover-change-msg {
    display: none;
    font-size: 0.9rem;
    margin-top: 5px;
    margin-left: 5px;
}

.user_edit_form input[type="submit"] {
    margin-top: 15px;
}
.user-edit-img
{
    max-width: 150px;
    width: auto;
    height: auto;
    display: block;
    margin: 10px 0;
    border-radius: 50%;
}
/* max-width: 575px */
/*
@include media-breakpoint-up(xs) {
  .xs-fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
  }
  .trick-thumbnails-div,
  .trick-photo-thumbnail-div,
  .trick-video-thumbnail-div {
    width: 100%;
    flex-basis: unset;
  }
  .trick-thumbnail {
    text-align: center;
  }
  .leave-comment-form {
    width: 100%;
  }
  #form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
  }
  #message_content {
    width: 80%;
    height: 4rem;
    margin: 0 auto;
  }
  #form-div .btn {
    width: 50%;
    margin: 15px auto 0 auto;
  }
  .comment-avatar {
    margin-left: 5%;
  }
  .comment-text {
    width: 75%;
  }
}
*/

/* min-width: 576px */
@include media-breakpoint-up(sm) {
    .xs-hidden {
        display: block;
    }
    
  .leave-comment-form {
    margin-left: auto;
    margin-right: auto;
  }

  #form-div {
    display: flex;
    flex-direction: row;
  }

  #message_content {
    width: 300px;
    height: 2.3rem;
    margin: 0 0 -10px 0;
  }

  #form-div .btn {
    width: unset;
    height: 2.3rem;
    margin: 0 0 0 15px;
  }

  .comment-avatar {
    margin-left: 10%;
  }
  .comment-text {
    width: 70%;
  }
}

/* min-width: 768px */
@include media-breakpoint-up(md) {
  .col-lg-2_4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .comment-avatar {
    margin-left: 15%;
  }
  .comment-text {
    width: 60%;
  }
}

/* min-width: 992px */
@include media-breakpoint-up(lg) {
  .comment-avatar {
    margin-left: 20%;
  }
  .comment-text {
    width: 45%;
  }
}

/* min-width: 1200px */
@include media-breakpoint-up(xl) {
  .col-xl-2_4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .comment-avatar {
    margin-left: 25%;
  }
  .comment-text {
    width: 40%;
  }
}

/*
@media (min-width:992px) and (max-width:1199px ){
}

@media (min-width:768px) and (max-width:991px ){
}

@media (min-width:576px) and (max-width:767px ){
}

@media (max-width:575px ){
}
*/
