
{# templates/emails/pwdReset.html.twig #}
<h3>Vous avez demandé la réinitialisation de votre mot de passe</h3>

<p>Bonjour {{ userName }},<p>
<p>Vous avez demandé la réinitialisation de votre mot de passe sur le site de référence du snowboard.</p>
<p>Pour créer un nouveau mot de passe, veuillez cliquer <a href="{{ pwdResetUrl }}" target="_blank">sur ce lien</a>.</p>
<p>Merci. A très bientôt.</p>

<img src="{{ image_src }}" />