{# templates/trick/loyout.html.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('./build/app.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{% endblock %}

{% block body %}
    <!--<h1>Snowtricks web site</h1>-->

    {% block content %}{% endblock %}
{% endblock %}

{% block javascripts %}
    {#<script src="{{ asset('./build/app.js') }}"></script>#}
    {{ parent() }}
{% endblock %}