{# templates/trick/loyout.html.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <!--<h1>Snowtricks web site</h1>-->
    {{ parent() }}
    {% block content %}{% endblock %}
{% endblock %}

{% block javascripts %}
    {#<script src="{{ asset('./build/app.js') }}"></script>#}
    {{ parent() }}
{% endblock %}