{# templates/trick/index.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
  </head>
  <body>
      <div class="col-xl-4">
        <h1>Hello {{ nom }} !</h1>

        <p>
        Le Hello World est un grand classique en programmation.
        Il signifie énormément, car cela veut dire que vous avez
        réussi à exécuter le programme pour accomplir une tâche simple :
        afficher ce hello world !
        </p>
      </div>
      <script src="{{ asset('build/app.js') }}"></script>
    </body>
</html>