{# On charge la bibliothèque jQuery depuis le CDN google. #}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).ready(function () {
        let modalContainer = document.querySelector('div.modal-body');
        let photoElementsArray = document.getElementsByClassName('trick-photo-thumbnail');
        let videoElementsArray = document.getElementsByClassName('trick-video-thumbnail');

        Array.from(photoElementsArray).forEach(function(elem) {
        //$.each(photoElementsArray, function(elem) {
            //elem.css('cursor', 'pointer');
            elem.addEventListener("click", function(event) {
                var targetElement = event.target || event.srcElement;
                modalContainer.innerHTML = '<img src="' + targetElement.getAttribute('src') + '" class="img-responsive modal-image" data-toggle="modal" data-target="#myModal">';
            });
        });

        Array.from(videoElementsArray).forEach(function(elem) {
        //$.each(videoElementsArray, function(elem) {
            //elem.css('cursor', 'pointer');
            elem.addEventListener("click", function(event) {
                var targetElement = event.target || event.srcElement;
                modalContainer.innerHTML = targetElement.innerHTML;
            });
        });

        function centerModal() {
            $(this).css('display', 'block');
            var $dialog = $(this).find(".modal-dialog");
            var offset = ($(window).height() - $dialog.height()) / 2;
            // Center modal vertically in window
            $dialog.css("margin-top", offset);
        }
        
        $('.modal').on('show.bs.modal', centerModal);
        $(window).on("resize", function () {
            $('.modal:visible').each(centerModal);
        });
    });
</script>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img src="" class="img-responsive modal-image">
            </div>
        </div>
    </div>
</div>