{# templates/user/add.html.twig #}
{% extends 'layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-sm-5">
            <div class="well">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}