{% extends 'layout.html.twig' %}

{% block content %}
    {# if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif #}

    <div class="row">
        <div class="col-sm-5">
            <div class="well">
                <p>
                    An email has been sent to your email address.
                    Please open this email and click the password reset link.
                </p>
            </div>
        </div>
    </div>
{% endblock %}