{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container full-height-container">
    {# if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif #}
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-lg-6">
                <div class="well">
                    <p  class="alert alert-primary">
                        {{ 'pwd_reset_email_sent'|trans }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}