{# templates/trick/view.html.twig #}

{% extends 'layout.html.twig' %}

{% block content %}

    <!-- Detail page ================================================== -->

    <div class="container main">
        <div class="container ">
            <div class="trick-header row">
                <span class="bold" style="opacity: 1; display: inline;">{{ nom }}
                    Registration</span></h1>
        </div>
    </div>
</div>
</div>
</div>

{% endblock %}